@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body { 
    background-color: #ffc4dd;
    text-align: center;

}

/* Style for all big lines of text to create a "theme" */ 

.headlines { 
    font-family: lobster, sans-serif;
    color: red; 
    font-size: large;
}

/* styles all the links in the pages */ 
a:link { 
    text-decoration: none;  
}
a:visited { 
    text-decoration: none;
    color: red;
}
a:hover { 
    text-decoration: underline;
}



.game-keeper { 
    color: red;
    font-family: Lobster, sans serif;
  
    font-size: large;
    
}

/* Game area */ 

.game-container1 { 
    position: relative;
    
  
}
.game-container2 { 
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    left:10%; 
    right: 10%;
    padding-top: 30px;
    padding-bottom: 120px;   
    
}
button { 
    width: 200px;
    margin: 10px;

    
}