@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body { 
    background-color: #ffc4dd;
    text-align: center; 

}

/* Style for all big lines of text to create a "theme" */ 

.headlines { 
    font-family: lobster, sans-serif;
    color: red; 
    font-size: 40px; 
}

/* Style for smaller text on the home page */ 

.explanation { 
    color: black; 
    font-family: sans-serif;
    font-weight: 100;
}

#ours { 
    color: red; 
    font-family: lobster, sans-serif;
    font-size: x-large;
}

/* styles all the links in the pages */ 
a:link { 
    text-decoration: none;  
    
}
a:visited { 
    text-decoration: none;
    color: inherit;

}
a:hover { 
    text-decoration: underline;
}

/*img on main page */ 

#img-holder { 
    padding-top: 20px; 
    padding-bottom: 20px;
}

/* Game page */ 

/* Link to homepage */ 
#back { 
    position: fixed;
    left:0; 
}

/* ScoreBoard */ 

.game-keeper { 
    color: red;
    font-family: Lobster, sans serif;
    font-size: large;   
    padding-top: 40px;
}

/* Game styling */

.game-container1 { 
    position: relative;  
}

.game-container2 { 
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    left:10%; 
    right: 10%;
    padding-top: 30px;
    padding-bottom: 120px;   
    
}
button { 
    width: 200px;
    margin: 10px;

    
}